<%- include('_header') %>


<h1>This is dash board</h1>
<p class="logout" style="color: blue; text-decoration: underline; text-align: right; cursor: pointer;">Logout</p>


<%- include('_footer') %>

<script src="/js/logout.js"></script>