<%- include('_header') %>


<div class="container">
    <div class="row">
        <div class="col-3">
            
        </div>
        <div class="col-6">
            <div style="padding-top: 50px;">
                <form id="singup" style="display: none;" method="post">
                    <div class="text-center">
                        <p><b>Create a new account</b></p>

                    </div>
                    <div class="info">

                    </div>
                    <div class="form-outline mb-1">
                        <label class="form-label" for="name">Full name:</label>
                      <input type="text" name="name" required id="name" class="form-control" />
                    </div>
                    <div class="form-outline mb-1">
                        <label class="form-label" for="username">Username:</label>
                      <input type="text" name="username" required id="username" class="form-control" />
                    </div>

                    <div class="form-outline mb-1">
                        <label class="form-label" for="email">Email address:</label>
                      <input type="email" name="email" required id="email" class="form-control" />
                    </div>

                    <div class="form-outline mb-1">
                        <label class="form-label" for="phone">Phone number:</label>
                        <input type="text" name="phone" required id="phone" class="form-control" />
                    </div>
                    <div class="form-outline mb-1">
                        <label class="form-label" for="dob">Date of birth:</label>
                        <input type="date" name="dob" required id="dob" class="form-control" />
                    </div>
                    <div class="form-outline mb-1">
                        <label class="label-same" for="password">Gender:</label><br>
                        <select name="role" id="gender" required>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                          <option value="others">Others</option>
                        </select>
                    </div>
                  
                    <div class="form-outline mb-1">
                      <label class="form-label" for="password">Password:</label>
                      <input type="password" name="password" required id="password" class="form-control" />
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label" for="confirmpassword">Confirm Password:</label>
                      <input type="password" name="confirmpassword" required id="confirmpassword" class="form-control" />
                    </div>
                  
                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
                  
                    <div class="text-center">
                      <p>Have an account? <span style="color: #007bff; text-decoration: underline; cursor: pointer;" class="loginnow">Login Now</span></p>
                    </div>
                  </form>

                <form id="login" method="post">
                    <div class="text-center">
                        <p><b>Please login your account</b></p>
                      </div>
                      <div class="info2">
                            
                      </div>
                    <div class="form-outline mb-4">
                      <input type="text" name="username" required id="username2" class="form-control" />
                      <label class="form-label" for="username">Username:</label>
                    </div>
                   
                    <div class="form-outline mb-4">
                      <input type="password" name="password" required id="password2" class="form-control" />
                      <label class="form-label" for="password">Password:</label>
                    </div>
                  
                    <div class="row mb-4">
                      <div class="col d-flex justify-content-center">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                          <label class="form-check-label" for="form2Example31"> Remember me </label>
                        </div>
                      </div>

                      <div class="col">
                        <a href="#!">Forgot password?</a>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                  
                    <div class="text-center">
                      <p>Not a member? <span style="color: #007bff; text-decoration: underline; cursor: pointer;" class="Registernow">Register Now</span></p>
                    </div>
                  </form>
            </div>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>


<script src="/js/Others.js"></script>
<script src="/js/login.js"></script>

<%- include('_footer') %>

