
  @font-face {
    font-family: "Prompt";
    src: url(./../font/Prompt-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Prompt";
    src: url(./../font/Prompt-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "Prompt";
    src: url(./../font/Prompt-SemiBoldItalic.ttf) format("truetype");
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: "Prompt";
    src: url(./../font/Prompt-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "Prompt";
    src: url(./../font/Prompt-BoldItalic.ttf) format("truetype");
    font-weight: bold;
    font-style: italic;
  }
  @font-face {
    font-family: "Prompt";
    src: url(./../font/Prompt-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Prompt";
    src: url(./../font/Prompt-MediumItalic.ttf) format("truetype");
    font-weight: 500;
    font-style: italic;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*------Web Start------*/
  /* Get Google font Choice*/
  html {
    background-color: #ffffff;
    font-family: "Prompt", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
  }
  /* when Use Photo in Ul li*/
  .clearfix {
    zoom: 1;
  }
  .clearfix:after {
    content: ".";
    visibility: hidden;
    clear: both;
    display: block;
    height: 0;
  }
  /*For No Copy */
  body {
    /* -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none; */
    background-color: #ffffff;
    font-family: "Prompt", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
  }
  h1,
  p,
  a {
    margin: 0;
    padding: 0;
    font-weight: 400;
  }

  /* Chat Msg Area */
  .msgArea{
    width: 100%;
    height: 400px;
    background-color: #007bff40;
  }
  /* Chat List Design */
  .ChatList{
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #007bff;
    box-shadow: 0px 0px 10px 0px #007bff;
  }
  .ChatList ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .ChatList ul li{
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin: 2px 0px;
  }
  .hide{
    display: none !important;
  }
  .onlineStatus{
    color: rgb(3, 158, 3);
  }
  .offlineStatus{
    color: rgb(255, 0, 0);
  }

  .receiverdiv{
    text-align: left;
  }
  .receiverdiv i{
    font-size: 16px !important;
    line-height: 24px;
    color: #888888;
    cursor: pointer;
  }
  .receiverMsg{
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border-radius: 10px 10px 10px 0px;
    display: inline-block;
    margin: 4px 5px 4px 5px;
  }
  .senderdiv{
    text-align: right;
  }
  .senderdiv i{
    font-size: 14px !important;
    line-height: 12px;
    color: #ff0000;
    cursor: pointer;
  }
  .senderMsg{
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border-radius: 10px 10px 0px 10px;
    display: inline-block;
    margin: 4px 5px 4px 5px;
  }
  .oppor{
    opacity: 0 !important;
  }